<h2>
    {{training.name}}
</h2>

<div *ngIf="training.coach">
    coach: <a routerLink="/profil/{{training.coachId}}">{{training.coach.name}}</a>
</div>

<h3>Modules</h3>
<ul>
    <li *ngFor="let module of training.modules">
        <a routerLink="/module/{{module.moduleId}}">{{module.module.name}}</a>
    </li>
</ul>

<h3>Apprenant</h3>
<ul *ngIf="training.users && training.users.length > 0; else noApprenant">
    <li *ngFor="let user of training.users">
        <a routerLink="/profil/{{user.userId}}">{{user.user.name}}</a>
    </li>
</ul>

<ng-template #noApprenant>
    Pas d'apprenant inscrit à la formation
</ng-template>